In [12]:
import pandas as pd
import numpy as np

In [13]:
t3 = pd.DataFrame(np.arange(12).reshape(3,4), 
                  index=list("abc"), columns=list("wxyz"))
print(t3)

   w  x   y   z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [15]:
# 标签检索(index
t3.loc["a","z"]

3

In [16]:
t3.loc["a", :]

w    0
x    1
y    2
z    3
Name: a, dtype: int32

In [19]:
t3.iloc[1]  # 按行索引

w    4
x    5
y    6
z    7
Name: b, dtype: int32

In [20]:
t3.iloc[1, :2]

w    4
x    5
Name: b, dtype: int32

In [23]:
t3.iloc[:, [1, 2]] # 第1列 & 第二列

   x   y
a  1   2
b  5   6
c  9  10

In [25]:
t3.iloc[1:, :2] = np.nan
print(t3)

     w    x   y   z
a  0.0  1.0   2   3
b  NaN  NaN   6   7
c  NaN  NaN  10  11